* {
    padding: none;
    font-family: 'poppins';
}



body {
    background-size: 100%;
    background-image: url(./Assets/match.jpg);
    background-repeat: no-repeat;
}

.toast-container {
    margin-top: 20%;
    padding: none;
    width: 1121px;
    height: 312px;
    background-color: #000000A3;
    border: 7px solid #0F76FF;
    border-radius: 20px;
    position: relative;
}

.head-content {
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 34px 36px 20px 34px;
    color: #57FFA6;
    font-size: 30px;
    font-weight: bold;
}

.game-type {
    margin-left: 880px;
}

img {
    width: 89px;
    border-radius: 100px;
}

.question {
    width: 826px;
    height: 134px;
    padding: 0px 20px 20px 34px;
    font-size: 50px;
    font-weight: medium;
    text-align: left;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 1;
}

button {
    width: 207px;
    height: 83px;
    background-color: #57FFA6;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}

.subcontent {
    display: flex;
}

.head-element {
    display: flex;
    float: right;
}

button:hover {
    padding: none;
    background-color: #0F76FF;
    border: 3px solid #FFFFFF;
}

.toast-container {
    animation-delay: 10000ms;
    animation: slider 1.5s;
}

@keyframes slider {
    0% {
        left: -2000px;
    }

    100% {
        left: 10px;
    }
}